/* universal */
* {

    margin: 0;
    padding: 0;
}

/* body */
body {
    background: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* header */
header {
    display: flex;
    background: #89b3d4;
    color: rgb(243, 240, 240);
    width: 100%;
    height: 80px;
    justify-content: space-between;
}

h1 {
    margin-left: 10px;
    text-align: left; 
}

nav li {
    margin-right: 20px;
    margin-top: 10px;
    display: inline-flex;
    text-align: right;
    text-decoration: none;
    
}
nav li:hover {
    color: rgb(48, 46, 46);
    text-decoration: solid;
}

/* title*/
.title {
    background: #89b3d4;
    border-bottom: 4px solid #eee;
    color: #eee;
}

.title h3 {
    padding: 5px;
    margin-left: 15px;
    margin-top: -35px;
    font-style: oblique;
}

/* aside */
aside {
    float: left;
    width: 20%;
    padding-right: 5px;
    margin-right: 5px;
    font-style: oblique;
    color: #eee;
}

/* aside */
.sidebar {
    display: flex;
    margin-top: 10px;
     flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 20%; 
}
#me-pic {
    display: inline-block;
    margin-left: 78px;
    margin-top: 20px;
    margin-bottom: 100px;
    border: 5px solid #eee;
    border-radius: 5px;
    width: 140px;
}

/* main */
p {
    margin-top: 20px;
    color: #eee;
}

.container .container-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    
}
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
} 
#my-work-1 {
    width: 100%;
    height: 60vh;
    margin: 10px;
    margin-top: 10%;
    border: 5px solid #eee;
    border-radius: 5px;
    padding: 5px;
}
.item{
    width: 50%;
    height: 230px;
    border: 5px solid #eee;
    border-radius: 5px;
    padding: 5px;
    margin: 20px;
}
.container-1 #btn {
    position:absolute;
    top: 60%;
    left: 24%;
    background-color: #89b3d4;
    color: #eee;
    font-size: 16px;
    padding: 3px 3px;
    cursor: pointer;
    border: 3px solid #eee;
    border-radius: 5px;
}

.btn {
    position:relative;
    background-color: #89b3d4;
    color: #eee;
    font-size: 16px;
    padding: 3px 3px;
    cursor: pointer;
    border: 3px solid #eee;
    border-radius: 5px;
}

/* bottom-area */
.bottom-area {
    display: block;
    margin-top: 70px;
    margin-left: 320px;
    border: 4px solid #eee;
    background-color: #89b3d4;
    color: #eee;
}

/* Form */
.form-input {
    display:block;
    margin-top: 80px;
    margin-right: auto;
    margin-left: 750px;
    width: 20%;
}
.email {
    margin-top: 10px;
    display: block;
    margin-right: auto;
    margin-left: 750px;
    width: 20%;
}
textarea {
    margin-top: 10px;
    display: block;
    margin-right: auto;
    margin-left: 750px;
    width: 20%;
}

.submit-button {
    display: block;
    margin-right: auto;
    margin-left: 850px;
    margin-top: 5px;
    margin-bottom: 30px;
    padding: 10px 15px;
    border: none;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: white;
    background: rgb(100, 100, 100);
    transition: all 500ms ease;
    
    
}
.submit-button:hover {
    background: rgb(100, 100, 100);
    padding: 20px 30px;
}

/* footer */
footer {
    background:#89b3d4;
    color:rgb(243, 240, 240);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 4px solid #eee;
}





